<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/home}"><h1>Home</h1></a>

<h1 th:text="${person.id}"></h1>
<h1 th:text="${person.name}"></h1>
<h1 th:text="${person.birthPlace}"></h1>
<h1 th:text="${person.birthDate}"></h1>
<h1 th:text="${person.email}"></h1>
<ul>
  <li th:each="order : ${orders}" th:text="${order}"></li>
</ul>
<a th:href="@{'/order/' + ${person.id}}">
    <p>Orders</p>
</a>

<a th:href="@{'/order/new/' + ${person.id}}">
  <p>New Order</p>
</a>
<form th:action="@{'/person/delete/' + ${person.id}}" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button type="submit">Delete</button>
</form>


</body>
</html>