<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/home}"><h1>Home</h1></a>
<form method="post" th:action="@{'/person/update/' + ${person.id}}">
  <input type="hidden" th:value="${person.id}" th:field="*{person.id}">
  <label for="name">Name</label>
  <input type="text" id="name" th:value="${person.name}" th:placeholder="${person.name}" th:field="*{person.name}">

  <label for="birthPlace">BirthPlace</label>
  <input type="text" id="birthPlace" th:value="${person.birthPlace}" th:placeholder="${person.birthPlace}"  th:field="*{person.birthPlace}">

  <label for="birthDate"> BirthDate</label>
  <input type="date" id="birthDate" th:value="${person.birthDate}" th:placeholder="${person.birthDate}"  th:field="*{person.birthDate}"  value="" min="1901-01-01" max="2023-10-05">>

  <label for="email"> email</label>
  <input type="email" id="email" th:value="${person.email}" th:placeholder="${person.email}"  th:field="*{person.email}">


  <button type="submit">OK</button>
</form>

</body>
</html>